@model vsmartsell_test1.Models.KhachHang

@{
    ViewBag.Title = "Create new customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="~/Scripts/jquery.session.js"></script>
    <link href="~/Script/dao.css" rel="stylesheet" />
    <link href="~/Scripts/style.css" rel="stylesheet" />
    <link href="~/Scripts/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/datatables.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
</head>
<style>
    .form-control {
        margin-bottom: 20px;
    }
    input, select, textarea {
        max-width: 450px;
    }
    strong {
        font-size: 20px;
    }
    body {
        line-height: 2.428571;
    }

</style>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
          <div class="col-lg-offset-9">    
              <a href="http://localhost:3469/Vsmartsell/Index" class="btn btn-default">
                  <i class="fa fa-mail-reply">
                  </i> Quay lại
              </a>         
                    <button  class="btn btn-success" type="submit"><i class="fa fa-user"></i>Thêm mới</button>
              <button id="thietlaplai" class="btn btn-danger" type="submit"><i class="glyphicon glyphicon-refresh"></i> Thiết lập lại</button>                              
                </div>  
    <div class="col-lg-12 col-md-12">
        <div class="widget-container fluid-height clearfix" style="background:rgb(150, 150, 150)">
            <div class="form-horizontal">
                <div class="dataTable1_length col-lg-12" class="dataTables_length" style="margin-left:20px">
                    <h2 class="col-lg-12" style="margin-top:5px;color:white">Khách hàng</h2>
                </div>

                <div style="background: rgb(251, 251, 248); padding-bottom: 10px">
                    @Html.ValidationSummary(true)
                    <div class="col-lg-6 col-lg-offset-1">
                        <strong>Tên khách hàng :</strong>
                        @Html.TextBoxFor(model => model.TenKH, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TenKH)
                    </div>
                    <div class="col-lg-offset-6">
                        <strong>Phone :</strong>
                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Phone)
                    </div>
                    <div class="col-lg-6 col-lg-offset-1">
                        <strong>Email :</strong>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                    <div class="col-lg-offset-6">
                        <strong>Loại khách hàng :</strong>
                        @Html.TextBoxFor(model => model.LoaiKH, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LoaiKH)
                    </div>
                    <div class="col-lg-6 col-lg-offset-1">
                        <strong>Loại gói :</strong>
                        @Html.DropDownListFor(model => model.LoaiGoi, new SelectList(ViewBag.listgoi), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LoaiGoi)
                    </div>
                    <div class="col-lg-offset-6">
                        <strong> Ngày đăng kí :</strong>
                        @Html.TextBoxFor(model => model.NgayDangKy, new { @class = "form-control", @type = "date" })
                        @Html.ValidationMessageFor(model => model.NgayDangKy)
                    </div>
                    <div class="col-lg-6 col-lg-offset-1">
                        <strong>Ngày hết hạn :</strong>
                        @Html.TextBoxFor(model => model.NgayHetHan, new { @class = "form-control", @type = "date" })
                        @Html.ValidationMessageFor(model => model.NgayHetHan)
                    </div>
                    <div class="col-lg-offset-6">
                        <strong>Tên cửa hàng :</strong>
                        @Html.TextBoxFor(model => model.TenCH, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TenCH)
                    </div>
                    <div class="col-lg-6 col-lg-offset-1">
                        <strong>Địa chỉ :</strong>
                        @Html.TextAreaFor(model => model.DiaChi, new { @class = "form-control", @rows = "3" })
                        @Html.ValidationMessageFor(model => model.DiaChi)
                    </div>
                    <div class="col-lg-offset-6">
                        <strong>Note :</strong>
                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @rows = "3" })
                        @Html.ValidationMessageFor(model => model.Note)
                    </div>
                    <div class="form-group" hidden>
                        <div class="control-label col-md-2">
                            <strong>Archive</strong>
                        </div>
                        <div class="col-md-10">
                        </div>
                    </div>
                    <div class="col-lg-offset-1">
                        <strong>Hỗ trợ :</strong>
                        @Html.TextBoxFor(model => model.HoTro, new { @class = "form-control", style = "margin-left:8.3333px" })
                        @Html.ValidationMessageFor(model => model.HoTro)
                    </div>

                </div>
            </div>
        </div>
        </div>
        }
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('#thietlaplai').click(function () {
            $('.form-control').val('');
        })
    </script>
  }