@model vsmartsell_test1.Models.KhachHang
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
        if (ViewBag.makh > 0) { 
    ViewBag.gaviewid = Model.Viewid;
     }
}
<style>
    body a {
        color: white;
    }

    a:hover {
        color: #666666;
        text-decoration: none;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        color: #555 !important;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }

    .control-label {
        margin-top: 10px;
    }

    .form-group {
        margin-bottom: 50px;
    }
</style>
<head>
    <link href="~/Scripts/style.css" rel="stylesheet" />
    @*<link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />*@
    @*<link href="~/Script/bootstrap.css" rel="stylesheet" />*@
    <link href="~/Scripts/summernote.css" rel="stylesheet" />
    <link href="~/Scripts/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script> 
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <link href="~/Scripts/datepicker3.css" rel="stylesheet" />
    <link href="~/Script/dao.css" rel="stylesheet" />
    <link href="~/Scripts/font-awesome.min.css" rel="stylesheet" />
</head>
<div id="message" hidden class="alert alert-success col-md-4 col-md-offset-4" style="position:fixed;text-align:center"><strong>@TempData["userMsg"]</strong></div>
    

<body class="page-header-fixed bg-1" ng-app="IndexApp" ng-controller="indexcontrol">
    <div class="row">
        <!-- Trigger the modal with a button -->
        <div class="modal fade" id="chitietgdModal" role="dialog">
            <div class="modal-dialog" style="margin-left">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                        <h3 class="modal-title"><strong>Chi tiết hóa đơn</strong></h3>
                    </div>

                    <div class="modal-footer" style="margin-top:0px">


                        <div class="col-md-10" style="width:490px">
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Ngày tạo</strong></label>
                                <div class="input-group date datepicker col-md-8" data-date-autoclose="true" style="width:292px" data-date-format="dd-mm-yyyy">
                                    <input class="form-control" id="" style="margin-left:5px" placeholder="" type="text" value="{{todate(infogd.NgayGD)}}"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>

                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Nhân viên thu tiền</strong></label>
                                <div class="col-md-8">
                                    <input class="form-control" id="" placeholder="" type="text" value="{{infogd.NguoiThu}}">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4" for="disabledInput"><strong>Mã giao dịch</strong></label>
                                <div class="col-md-8">
                                    <input class="form-control" id="" disabled placeholder="" type="text" value="{{infogd.MaGD}}">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Thời hạn</strong></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input disabled id="" type="text" class="form-control" value="{{infogd.ThoiHan}}"><span class="input-group-addon"> tháng</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Cước phí</strong></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input disabled id="" type="text" class="form-control" value="{{infogd.CuocPhi}}"><span class="input-group-addon">/tháng</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Thành tiền</strong></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input class="form-control" id="" disabled type="text" value="{{infogd.ThoiHan*infogd.CuocPhi}}"><span id="clickthanhtien" class="input-group-addon">VNĐ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Tiền giảm</strong></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input class="form-control" id="" type="text" value="{{infogd.TienGiam}}"><span class="input-group-addon">VNĐ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4" for="disabledInput"><strong>Tổng tiền</strong></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input class="form-control" id="" disabled placeholder="" type="text" value="{{infogd.SoTien}}"><span class="input-group-addon">VNĐ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Ghi chú</strong></label>
                                <div class="col-md-8">
                                    <input class="form-control" id="" placeholder="" type="text" value="{{infogd.Note}}">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8" style="float:right">
                            @*<button type="button" id="edithoadon" class="btn btn-success">
                                <i class="glyphicon glyphicon-pencil"></i>
                                <span class="">Chỉnh sửa</span>
                            </button>*@
                            <button class="btn btn-danger" data-dismiss="modal">
                                <i class="fa fa-trash-o"></i>Hủy
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" style="margin-left">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                        <h3 class="modal-title"><strong>Thanh toán tiền</strong></h3>
                    </div>

                    <div class="modal-footer" style="margin-top:0px">


                        <div class="col-md-10" style="width:490px">
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Ngày thanh toán</strong></label>
                                <div class="input-group date datepicker col-md-8" data-date-autoclose="true" style="width:292px" data-date-format="dd-mm-yyyy">
                                    <input class="form-control" id="ngaythanhtoan" style="margin-left:5px" placeholder="" type="text"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>

                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Nhân viên thu tiền</strong></label>
                                <div class="col-md-8">
                                    <input class="form-control" id="nhanvienthutien" placeholder="" type="text">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4" for="disabledInput"><strong>Mã giao dịch</strong></label>
                                <div class="col-md-8">
                                    <input class="form-control" id="magiaodich" disabled placeholder="" type="text">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Thời hạn</strong></label>
                                <div class="col-md-8">
                                    <select class="form-control" id="thoihan"><option value="1">1 tháng</option><option value="3">3 tháng</option><option value="6">6 tháng</option><option value="12">12 tháng</option></select>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Cước phí</strong></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input disabled id="cuocphi" type="text" class="form-control" value="{{GiaTien}}"><span class="input-group-addon">/tháng</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Thành tiền</strong></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input class="form-control" id="thanhtien" disabled type="text"><span id="clickthanhtien" class="input-group-addon">VNĐ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Tiền giảm</strong></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input class="form-control" id="tiengiam" type="text"><span class="input-group-addon">VNĐ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4" for="disabledInput"><strong>Tổng tiền</strong></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input class="form-control" id="tongtien" disabled placeholder="" type="text"><span class="input-group-addon">VNĐ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Ghi chú</strong></label>
                                <div class="col-md-8">
                                    <input class="form-control" id="ghichu" placeholder="" type="text">
                                </div>
                            </div>
                        </div>



                        <div class="col-md-8" style="float:right">
                            <button type="button" id="cartnotice" class="btn btn-success">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="">Tạo hóa đơn</span>
                            </button>
                            <button class="btn btn-danger" data-dismiss="modal">
                                <i class="fa fa-trash-o"></i>Hủy
                            </button>
                        </div>




                    </div>
                </div>

            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">                           
                <button style="float:right" id="save" type="submit" value="" class="btn btn-success">
                    <i class="glyphicon glyphicon-floppy-save"></i> Lưu
                </button>
                <a href="/Vsmartsell/index" style="float:right" id="backindex" class="btn btn-default">
                    <i class="fa fa-mail-reply">
                    </i> Quay lại
                </a>
                                @if (ViewBag.makh > 0)
                {

                }
                else
                {
                    <a type="button" style="float:right" id="thietlaplai" value="" class="btn btn-danger"><i class="glyphicon glyphicon-refresh"></i> Thiết lập lại</a>
                }
                  
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="col-md-12" style="padding-bottom:20px">
                    <div class="widget-container fluid-height clearfix">
                        <div class="heading tabs" style="background:rgb(150, 150, 150)">
                            @if (ViewBag.makh > 0)
                            {
                                <strong style="color:white;font-size:20px">Thông tin khách hàng  </strong><strong style="color:#000000;font-size:20px;text-transform:uppercase"> @Html.DisplayTextFor(model => model.TenKH)</strong>
                            }
                            else
                            {
                                <strong style="color:white;font-size:20px">Thêm mới khách hàng  </strong>
                            }
                            <ul class="nav nav-tabs pull-right" data-tabs="tabs" id="tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#tab1"><i class="fa fa-info-circle"></i><span><strong>Thông tin khách hàng</strong></span></a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#tab2"><i class="fa fa-info-circle"></i><span><strong>Thông tin gói cước</strong></span></a>
                                </li>
                            @if (ViewBag.makh > 0)
                            {
                                <li class="">
                                    <a data-toggle="tab" href="#tab3"><i class="fa fa-calendar"></i><span><strong>Lịch sử giao dịch khách hàng</strong></span></a>
                                </li>
                            }
                            </ul>
                        </div>
                        <div id="loadingicon"></div>
                        <div class="tab-content padded" hidden id="my-tab-content" style="background:rgb(251, 251, 248);">
                            <div class="tab-pane active" id="tab1" style="font-size:20px;line-height: 50px;">
                                <ul> 

                                    <div class="col-md-6">
                                        <strong>Tên khách hàng :</strong>@Html.ValidationMessageFor(model => model.TenKH, String.Empty, new { @style = "color:red;font-size:14px;!important" })
                                        @Html.TextBoxFor(model => model.TenKH, new { @class = "form-control" })
                                       
                                    </div>
                                    <div class="col-md-offset-6">
                                        <strong>Tên cửa hàng :</strong>@Html.ValidationMessageFor(model => model.TenCH, String.Empty, new { @style = "color:red;font-size:14px;!important" })
                                        @Html.TextBoxFor(model => model.TenCH, new { @class = "form-control" })

                                    </div>
                                    <div class="col-md-6">
                                        <strong>Số điện thoại :</strong>@Html.ValidationMessageFor(model => model.Phone, String.Empty, new { @style = "color:red;font-size:14px;!important" })
                                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "xxxx-xxx-xxx || xxxxx-xxx-xxx" })
                                        
                                    </div>
                                    <div class="col-md-offset-6">
                                        <strong>Loại khách hàng :</strong>@Html.ValidationMessageFor(model => model.LoaiKH, String.Empty, new { @style = "color:red;font-size:14px;!important" })
                                        @Html.TextBoxFor(model => model.LoaiKH, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Email :</strong>@Html.ValidationMessageFor(model => model.Email, String.Empty, new { @style = "color:red;font-size:14px;!important" })
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "abc@email.com" })
                                        
                                    </div>
                                    <div class="col-offset-md-6">
                                        <strong>Người hỗ trợ :</strong>@Html.ValidationMessageFor(model => model.HoTro, String.Empty, new { @style = "color:red;font-size:14px;!important" })
                                        @Html.TextBoxFor(model => model.HoTro, new { @class = "form-control" })
                                    </div>
                                    @*<div hidden class="col-md-6">
                                <strong>mã khách hàng :</strong>
                                @Html.EditorFor(model => model.MaKH)
                            </div>*@
                                    <div hidden="" class="col-md-6">
                                        <strong>Mã khách hàng :</strong>
                                        <input class="form-control" data-val="true" data-val-number="The field MaKH must be a number." data-val-required="The MaKH field is required." id="MaKH" name="MaKH" type="text" value="@(Model != null ? Model.MaKH : 0)">
                                    </div>
                                    <div hidden class="col-md-6">
                                        <strong> Tình trạng :</strong>
                                        @Html.CheckBoxFor(model => model.Archive, new { @class = " form-control" })
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Địa chỉ :</strong>@Html.ValidationMessageFor(model => model.DiaChi, String.Empty, new { @style = "color:red;font-size:14px;!important" })
                                        @Html.TextAreaFor(model => model.DiaChi, new { @class = " form-control", style = "max-width:700px", rows = "3" })
                                    </div>
                                    <div class="col-md-offset-6">
                                        <strong>Ghi chú :</strong>@Html.ValidationMessageFor(model => model.Note, String.Empty, new { @style = "color:red;font-size:14px;!important" })
                                        @Html.TextAreaFor(model => model.Note, new { @class = " form-control", style = "max-width:700px", rows = "3" })
                                    </div>


                                </ul>
                            </div>

                            <div class="tab-pane" id="tab2" style="font-size: 20px;line-height:50px">
                                <ul>
                                    <div class="col-md-6">
                                        <strong>Gói sử dụng : </strong>@Html.ValidationMessageFor(model => model.LoaiGoi, String.Empty, new { @style = "color:red;font-size:14px;!important" })
                                        @Html.DropDownListFor(model => model.LoaiGoi, new SelectList(ViewBag.listgoi),new { @class = "form-control" })

                                    </div>
                                    <div class="col-md-offset-6">
                                        <strong>Ngày bắt đầu :</strong>@Html.ValidationMessageFor(model => model.NgayDangKy, String.Empty, new { @style = "color:red;font-size:14px;!important" })
                                        @Html.TextBoxFor(model => model.NgayDangKy, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                                       
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Giá gói sử dụng :</strong>
                                        <input disabled id="giatien" type="text" class="form-control" value="{{GiaTien}}">
                                    </div>
                                    <div class="col-md-offset-6">
                                        <strong>Ngày hết hạn :</strong>@Html.ValidationMessageFor(model => model.NgayHetHan, String.Empty, new { @style = "color:red;font-size:14px;!important" })
                                        @Html.TextBoxFor(model => model.NgayHetHan, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                                       
                                    </div>
                                    <div class="col-md-12">
                                        <strong>Mã thông tin ( phụ ) : </strong>@Html.ValidationMessageFor(model => model.Viewid, String.Empty, new { @style = "color:red;font-size:14px;!important" })
                                        @Html.TextBoxFor(model => model.Viewid, new { @class = "form-control" })
                                    </div>
                                    @*<div class="col-md-12">
                                <strong>Ghi chú :</strong>
                                @Html.TextAreaFor(model => model.Note, new { @class = "form-control", style = "max-width:700px", rows = "3" })
                            </div>*@


                                </ul>
                            </div>
                            @if (ViewBag.makh > 0)
                            { 
                                <div class="tab-pane" id="tab3" style="font-size: 20px;">

                                <div class="widget-content padded">
                                    <ul>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="font-size: 20px;">
                                                        Ngày tạo hóa đơn
                                                    </th>
                                                    <th style="font-size: 20px;">
                                                        Số tiền trả
                                                    </th>
                                                    <th style="font-size: 20px;">
                                                        Người thu tiền
                                                    </th>
                                                    <th style="font-size: 20px;">
                                                        Ngày hết hạn
                                                    </th>
                                                    <th style="font-size: 20px;">
                                                        Số ngày sắp hết hạn
                                                    </th>
                                                    <th style="font-size: 20px;">
                                                        Thao tác
                                                    </th>
                                                </tr>
                                                <tr ng-repeat="m in ListGD">
                                                    <td>
                                                        {{todate(m.NgayGD)}}
                                                    </td>
                                                    <td>
                                                        {{m.SoTien}}
                                                    </td>
                                                    <td>
                                                        {{m.NguoiThu}}
                                                    </td>
                                                    <td class="hidden-xs">
                                                        {{todate(m.NgayHetHan)  }}
                                                    </td>
                                                    <td><strong style="color:red">{{songayconlai(todate(m.NgayGD),todate(m.NgayHetHan))}}</strong></td>
                                                    <td><button class="btn btn-primary" data-toggle="modal" data-target="#chitietgdModal" ng-click="info(m.MaGD)"><i class="glyphicon glyphicon-pencil"></i> Chi tiết</button></td>
                                                </tr>
                                                    <button style="float:right" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="resethoadon">
                                                    <i class="fa fa-shopping-cart"></i> Tạo hóa đơn
                                                </button>
                                                
                                                
                                            </thead>
                                        </table>
                                    </ul>
                                </div>
                            </div>
                            }
                            
                        </div>
                    </div>

                </div>



            </div>
        </div>
    }

</body>
@if (ViewBag.makh > 0)
{
    <div class="col-md-12" style="padding: 0 0 0 0;">

    @Html.Partial("_gapiPartial")
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery.session.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
    $(".btn .btn-default").click(function () {
        //alert();
    })

    var loadingIcon = '<div class="sk-circle"><div class="sk-circle1 sk-child"></div><div class="sk-circle2 sk-child"></div><div class="sk-circle3 sk-child"></div><div class="sk-circle4 sk-child"></div><div class="sk-circle5 sk-child"></div><div class="sk-circle6 sk-child"></div><div class="sk-circle7 sk-child"></div><div class="sk-circle8 sk-child"></div><div class="sk-circle9 sk-child"></div><div class="sk-circle10 sk-child"></div><div class="sk-circle11 sk-child"></div><div class="sk-circle12 sk-child"></div></div>'
    $('#my-tab-content').find('tbody').hide();
    //$('#dataTable1').find('tbody').hide();
    $('#loadingicon').append(loadingIcon);

    var app = angular.module("IndexApp", [])
    app.controller('indexcontrol', function ($scope, $http) {
        $http.get("/Vsmartsell/GetKH/@ViewBag.makh").success(function (response) {
            var khachhang = response.khachhang[0];
            $scope.khachhang = khachhang;


            $http.get("/Vsmartsell/GetListGiaTien").success(function (response) {
                for (var m in response.ListGiaTien) {
                    if (khachhang.LoaiGoi == response.ListGiaTien[m].LoaiGoi) {
                        $scope.GiaTien = response.ListGiaTien[m].GiaTien;
                        break;
                    }
                }
            });
        });
        $scope.info = function (obj) {
            //var i = $scope.ListGD.indexOf(obj)
            for (var i in $scope.ListGD) {
                if ($scope.ListGD[i].MaGD == obj) {
                    $scope.infogd = $scope.ListGD[i];
                    break;
                }
                //$scope.infogd = $scope.ListGD[i];
            }
            //$scope.infogd = $scope.ListGD[i];
            //$("#chitietgdModal").modal('show');
        }
        $http.get("/Vsmartsell/GetListGD/@ViewBag.makh").success(function (response) {
            //debugger;
            var ListGD = response.ListGD;
            $scope.ListGD = ListGD;
            $('#my-tab-content').removeAttr('hidden');
            $('.sk-circle').remove();

        });

        $http.get("/Vsmartsell/GetListGiaTien").success(function (response) {
            function changegia() {
                var loaigoi = $("#LoaiGoi").val()
                var giagoi;
                for (var m in response.ListGiaTien) {

                    if (loaigoi == response.ListGiaTien[m].LoaiGoi) {
                        giagoi = response.ListGiaTien[m].GiaTien;
                        $("#giatien").val(giagoi);
                        break;
                    }

                }
            }
            $("select").change(changegia);
        });
        $scope.todate = function (strdate) {
            var newdate = new Date(parseInt(strdate.substr(6)));
            var todate = ('0' + newdate.getDate()).slice(-2) + '-' + ('0' + (newdate.getMonth() + 1)).slice(-2) + '-' + newdate.getFullYear();
            return todate;
        };
        //songayconlai
        $scope.songayconlai = function (hientai, hethan) {
            debugger
            var datehientai = new Date(hientai);
            datehientai = datehientai.setDate(datehientai.getDate())
            var ngay = hethan.substring(0, 2)
            var thang =hethan.substring(3, 5)
            var nam = hethan.substring(6, 10)
            var updatedate = thang + '/' + ngay + '/' + nam;
            var datehethan = new Date(updatedate);
            datehethan = datehethan.setDate(datehethan.getDate())
            var songayconlai = new Date(datehethan - datehientai);
            songayconlai = songayconlai.getDate(songayconlai);
            return songayconlai;
        };
        //tao hoa don
        $('#cartnotice').click(function () {
            debugger
            // int makh, DateTime ngaygd, DateTime ngayhethan, decimal sotien, string nguoithu, int thoihan, decimal cuocphi, decimal tiengiam, string note, bool paid
            var paid = confirm("Có chắc là muốn tạo hóa đơn chứ ?");
            if (paid == true) {
                var note = $('#ghichu').val()
                var tiengiam = $('#tiengiam').val()
                var cuocphi = $('#cuocphi').val()
                var thoihan = $('#thoihan').val()
                var nguoithu = $('#nhanvienthutien').val()
                var sotien = $('#tongtien').val()
                //date hethan
                var nam = parseInt($('#NgayHetHan').val().substring(0, 4))
                var thang = parseInt($('#NgayHetHan').val().substring(5, 7))                
                var ngay = parseInt($('#NgayHetHan').val().substring(8, 10))
                var giahan = parseInt(thoihan)
                var newngay = ngay
                var newthang = thang + giahan
                //date thanh toan              
                var nam1=$('#ngaythanhtoan').val().substring(6,10)
                var thang1 = $('#ngaythanhtoan').val().substring(3, 5)
                var ngay1=$('#ngaythanhtoan').val().substring(0,2)
                var ngaygd = thang1 + '/' + ngay1 + '/' + nam1;
                var old_ngayhethan = new Date($("#NgayHetHan").val());
                old_ngayhethan = old_ngayhethan.setMonth(old_ngayhethan.getMonth() + giahan);
                var new_ngayhethan = new Date(old_ngayhethan);
                var ngayhethan = new_ngayhethan.getFullYear() + '/' + ('0' + (new_ngayhethan.getMonth() + 1)).slice(-2) + '/' + ('0' + new_ngayhethan.getDate()).slice(-2);
                
                var makh = Number($('#MaKH').val())
                //debugger
                $.post("/vsmartsell/UpdateHistory", { makh: makh, ngaygd: ngaygd, ngayhethan: ngayhethan, sotien: sotien, nguoithu: nguoithu, thoihan: thoihan, cuocphi: cuocphi, tiengiam: tiengiam, note: note, paid: false }, function (data) {
                    debugger
                    
                    
                    $http.get("/Vsmartsell/GetListGD/@ViewBag.makh").success(function (response) {
                        debugger;
                        var ListGD = response.ListGD;
                        $scope.ListGD = ListGD;
                    });
                });

            }

        })
    });
    //thiết lập lại
    $('#thietlaplai').click(function () {
        $('.form-control').val('');
        $(".field-validation-error").text('')
    })
    //thong bao save thanh cong


    if ($("#message").text() != "") {
        $('#message').removeAttr('hidden');
        setTimeout(function () {
            $('#message').fadeOut();
        }, 4000);
    }

    $('#ngaythanhtoan').click(function () {
    });
    $('#backindex').click(function () {

    })
    $('.datepicker').datepicker({
        keyboardNavigation: false,
        forceParse: false,
        autoclose: true,
        format: 'dd/mm/yyyy',
    });
    $('.form-control').click(function () {

    })
    $('#thoihan').focusout(function () {
        var thanhtien;
        thanhtien = Number($('#thoihan').val()) * Number($('#cuocphi').val());
        $('#thanhtien').val(thanhtien);
    })
    $('#tiengiam').focusout(function () {
        var tongtien;
        tongtien = Number($('#thoihan').val()) * Number($('#cuocphi').val()) - Number($('#tiengiam').val());
        $('#tongtien').val(tongtien);
    })
    @*//tao hoa don
    $('#cartnotice').click(function () {
        debugger
        // int makh, DateTime ngaygd, DateTime ngayhethan, decimal sotien, string nguoithu, int thoihan, decimal cuocphi, decimal tiengiam, string note, bool paid
        var paid = confirm("Có chắc là muốn tạo hóa đơn chứ ?");
        if (paid == true) {
            var note = $('#ghichu').val()
            var tiengiam = $('#tiengiam').val()
            var cuocphi = $('#cuocphi').val()
            var thoihan = $('#thoihan').val()
            var nguoithu = $('#nhanvienthutien').val()
            var sotien = $('#tongtien').val()
            var nam = parseInt($('#NgayHetHan').val().substring(0, 4))
            var thang = parseInt($('#NgayHetHan').val().substring(5, 7))
            var ngay = parseInt($('#NgayHetHan').val().substring(8, 10))
            var giahan = parseInt(thoihan)
            var newngay = ngay
            var newthang = thang + giahan
            //if (newthang > 12) {
            //    newthang = newthang - 12
            //    var newnam = nam + 1
            //}
            //else {
            //    newthang = newthang
            //    var newnam = nam
            //}
            //if (newthang < 10) {
            //    var ngayhethan = newnam.toString() + "/0" + newthang.toString() + "/" + newngay.toString()
            //}
            //else {
            //    var ngayhethan = newnam.toString() + "/" + newthang.toString() + "/" + newngay.toString()
            //}
            var old_ngayhethan = new Date($("#NgayHetHan").val());
            old_ngayhethan = old_ngayhethan.setMonth(old_ngayhethan.getMonth() + giahan);
            var new_ngayhethan = new Date(old_ngayhethan);
            var ngayhethan = new_ngayhethan.getFullYear() + '/' + ('0' + (new_ngayhethan.getMonth() + 1)).slice(-2) + '/' + ('0' + new_ngayhethan.getDate()).slice(-2);
            var ngaygd = $('#ngaythanhtoan').val()
            var makh = Number($('#MaKH').val())
            //debugger
            $.post("/vsmartsell/UpdateHistory", { makh: makh, ngaygd: ngaygd, ngayhethan: ngayhethan, sotien: sotien, nguoithu: nguoithu, thoihan: thoihan, cuocphi: cuocphi, tiengiam: tiengiam, note: note, paid: false }, function (data) {
                debugger
                $http.get("/Vsmartsell/GetListGD/@ViewBag.makh").success(function (response) {
                    debugger;
                    var ListGD = response.ListGD;
                    $scope.ListGD = ListGD;
                });
            });
           
        }
       
    })*@
        //set gia tri cuoc phi
    //$('#cuocphi').val($('#giatien').val())
    //reset hoa don
    $('#resethoadon').click(function () {
        $('#ngaythanhtoan').val('')
        $('#nhanvienthutien').val('')
        $('#thoihan').val('')
        $('#tiengiam').val('')
        $('#thanhtien').val('')
        $('#tongtien').val('')
        $('#ghichu').val('')
    })

</script>
}