@using Microsoft.AspNet.Identity;
@model vsmartsell_test1.Models.KhachHang
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
        if (ViewBag.makh > 0) { 
    ViewBag.gaviewid = Model.Viewid;
     }
}
<style>
    body a {
        color: #2D7AFE;
    }

    a:hover {
        color: #666666;
        text-decoration: none;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        color: #555 !important;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }

    .control-label {
        margin-top: 10px;
    }

    .form-group {
        margin-bottom: 50px;
    }
    #false{
        color:red;
    }
    #true {
        color: #60c560;
    }
    #pagebutton[disabled] {
        color: white;
        background: #808080;
    }
</style>
<head>

    <link href="~/Scripts/style.css" rel="stylesheet" />
    <link href="~/Scripts/summernote.css" rel="stylesheet" />
    <link href="~/Scripts/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script> 
    <link href="~/Scripts/datepicker3.css" rel="stylesheet" />
    <link href="~/Script/dao.css" rel="stylesheet" />
    <link href="~/Scripts/font-awesome.min.css" rel="stylesheet" />
</head>

<div id="message" hidden class="alert alert-success col-md-4 col-md-offset-4" style="position:fixed;text-align:center"><strong>@TempData["userMsg"]</strong></div>
<div id="stringuserid" hidden>@User.Identity.GetUserId()</div>

<body class="page-header-fixed bg-1" ng-app="IndexApp" ng-controller="indexcontrol">
    <div class="row">
        <!-- Trigger the modal with a button -->
        <div class="modal fade" id="chitietgdModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                        <h3 class="modal-title"><strong>Chi tiết hóa đơn</strong> <span style="float:right;">Mã số : {{infogd.gds.MaGD}}</span></h3>
                    </div>

                    <div class="modal-footer" style="margin-top:0px">


                        <div class="col-md-10" style="width:490px">
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Ngày tạo</strong></label>
                                <div class="col-md-8">
                                    <input disabled class="form-control" id="" placeholder="" type="text" value="{{todate(infogd.gds.NgayGD)}}">
                                </div>

                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Người tạo</strong></label>
                                <div class="col-md-8">
                                    <input disabled class="form-control" id="" placeholder="" type="text" value="{{infogd.name}}">
                                </div>
                            </div>
                            @*<div class="form-group col-md-12">
                                <label class="control-label col-md-4" for="disabledInput"><strong>Mã giao dịch</strong></label>
                                <div class="col-md-8">
                                    <input disabled class="form-control" id="magd{{infogd.MaGD}}" placeholder="" type="text" value="{{infogd.MaGD}}">
                                </div>
                            </div>*@
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Thời hạn</strong></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input disabled id="" type="text" class="form-control" value="{{infogd.gds.ThoiHan}}"><span class="input-group-addon"> tháng</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Ngày hết hạn</strong></label>
                                <div class="col-md-8">
                                    <input disabled id="" type="text" class="form-control" value="{{todate(infogd.gds.NgayHetHan)}}">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Cước phí</strong></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input disabled id="" type="text" class="form-control" value="{{infogd.gds.CuocPhi}}"><span class="input-group-addon">/tháng</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Thành tiền</strong></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input disabled class="form-control" id="" type="text" value="{{infogd.gds.ThoiHan*infogd.gds.CuocPhi}}"><span id="clickthanhtien" class="input-group-addon">VNĐ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Tiền giảm</strong></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input disabled class="form-control" id="" type="text" value="{{infogd.gds.TienGiam}}"><span class="input-group-addon">VNĐ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4" for="disabledInput"><strong>Tổng tiền</strong></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input disabled class="form-control" id="" placeholder="" type="text" value="{{infogd.gds.SoTien}}"><span class="input-group-addon">VNĐ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Ghi chú</strong></label>
                                <div class="col-md-8">
                                    <input disabled class="form-control" id="" placeholder="" type="text" value="{{infogd.gds.Note}}">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8" style="float:right">
                            <button type="button" id="thanhtoan" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                                <span class="">Thanh toán</span>
                            </button>
                            <button class="btn btn-danger" id="huythanhtoan" data-dismiss="modal">
                                <i class="fa fa-trash-o"></i>Thoát
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title"><strong>Tạo hóa đơn</strong></h3>
                    </div>

                    <div class="modal-footer" style="margin-top:0px">


                        <div class="col-md-10" style="width:490px">
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Ngày tạo</strong></label>
                                <div class="input-group date datepicker col-md-8" data-date-autoclose="true" style="width:292px" data-date-format="dd-mm-yyyy">
                                    <input class="form-control" id="ngaythanhtoan" style="margin-left:5px" placeholder="" type="text"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>

                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Người tạo</strong></label>
                                <div class="col-md-8">
                                    <input disabled class="form-control" id="nhanvienthutien" placeholder="" type="text" value="{{fullname}}">
                                </div>
                            </div>
                            <div class="form-group col-md-12" hidden>
                                <label class="control-label col-md-4" for="disabledInput"><strong>Mã giao dịch</strong></label>
                                <div class="col-md-8">
                                    <input class="form-control" id="magiaodich" disabled placeholder="" type="text">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Thời hạn</strong></label>
                                <div class="col-md-8">
                                    <select class="form-control" id="thoihan"><option value="1">1 tháng</option><option value="3">3 tháng</option><option value="6">6 tháng</option><option value="12">12 tháng</option></select>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Cước phí</strong></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input id="cuocphi" type="text" class="form-control" value="{{GiaTien}}"><span class="input-group-addon">/tháng</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Thành tiền</strong></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input class="form-control" id="thanhtien" disabled type="text"><span id="clickthanhtien" class="input-group-addon">VNĐ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Tiền giảm</strong></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input class="form-control" id="tiengiam" type="number" value=0><span class="input-group-addon">VNĐ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4" for="disabledInput"><strong>Tổng tiền</strong></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input class="form-control" id="tongtien" disabled placeholder="" type="text"><span class="input-group-addon">VNĐ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4"><strong>Ghi chú</strong></label>
                                <div class="col-md-8">
                                    <input class="form-control" id="ghichu" placeholder="" type="text">
                                </div>
                            </div>
                        </div>



                        <div class="col-md-8" style="float:right">
                            <button type="button" id="cartnotice" class="btn btn-success">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="">Tạo hóa đơn</span>
                            </button>
                            <button class="btn btn-danger" id="huyhoadon" data-dismiss="modal">
                                <i class="fa fa-trash-o"></i>Hủy
                            </button>
                        </div>




                    </div>
                </div>

            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">                           
                <button style="float:right" id="save" type="submit" value="" class="btn btn-success">
                    <i class="glyphicon glyphicon-floppy-save"></i> Lưu
                </button>
                <a href="/Vsmartsell/index" style="float:right" id="backindex" class="btn btn-default">
                    <i class="fa fa-mail-reply">
                    </i> Quay lại
                </a>
                                @if (ViewBag.makh > 0)
                {

                }
                else
                {
                    <a type="button" style="float:right" id="thietlaplai" value="" class="btn btn-danger"><i class="glyphicon glyphicon-refresh"></i> Thiết lập lại</a>
                }
                  
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="col-md-12" style="padding-bottom:20px">
                    <div class="widget-container fluid-height clearfix">
                        <div class="heading tabs" style="">
                            @if (ViewBag.makh > 0)
                            {
                                <strong style="font-size:20px">Thông tin khách hàng  </strong><strong style="color:#000000;font-size:20px;text-transform:uppercase"> @Html.DisplayTextFor(model => model.TenKH)</strong>
                            }
                            else
                            {
                                <strong style="font-size:20px">Thêm mới khách hàng  </strong>
                            }
                            <ul class="nav nav-tabs pull-right" data-tabs="tabs" id="tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#tab1"><i class="fa fa-user"></i><span>Thông tin khách hàng</span></a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#tab2"><i class="fa fa-info-circle"></i><span>Thông tin gói cước</span></a>
                                </li>
                            @if (ViewBag.makh > 0)
                            {
                                <li class="">
                                    <a data-toggle="tab" href="#tab3"><i class="fa fa-list"></i><span>Thông tin giao dịch</span></a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#tab4"><i class="fa fa-bar-chart-o"></i><span>Thông tin sử dụng</span></a>
                                </li>
                            }
                            </ul>
                        </div>
                        @*<div id="loadingicon"></div>*@
                        <div class="tab-content padded" id="my-tab-content" style="">
                            <div class="tab-pane active" id="tab1" style="font-size:20px;line-height: 50px;">   
                                <ul> 

                                    <div class="col-md-6">
                                        <strong>Tên khách hàng :</strong>@Html.ValidationMessageFor(model => model.TenKH, String.Empty, new { @style = "color:red;font-size:14px;!important" })
                                        @Html.TextBoxFor(model => model.TenKH, new { @class = "form-control" })
                                       
                                    </div>
                                    <div class="col-md-offset-6">
                                        <strong>Tên cửa hàng :</strong>@Html.ValidationMessageFor(model => model.TenCH, String.Empty, new { @style = "color:red;font-size:14px;!important" })
                                        @Html.TextBoxFor(model => model.TenCH, new { @class = "form-control" })

                                    </div>
                                    <div class="col-md-6">
                                        <strong>Số điện thoại :</strong>@Html.ValidationMessageFor(model => model.Phone, String.Empty, new { @style = "color:red;font-size:14px;!important" })
                                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "xxxx-xxx-xxx || xxxxx-xxx-xxx" })
                                        
                                    </div>
                                    <div class="col-md-offset-6">
                                        <strong>Loại khách hàng :</strong>@Html.ValidationMessageFor(model => model.LoaiKH, String.Empty, new { @style = "color:red;font-size:14px;!important" })
                                        @Html.TextBoxFor(model => model.LoaiKH, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Email :</strong>@Html.ValidationMessageFor(model => model.Email, String.Empty, new { @style = "color:red;font-size:14px;!important" })
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "abc@email.com" })
                                        
                                    </div>
                                    <div class="col-offset-md-6">
                                        <strong>Người hỗ trợ :</strong>@Html.ValidationMessageFor(model => model.HoTro, String.Empty, new { @style = "color:red;font-size:14px;!important" })
                                        @Html.TextBoxFor(model => model.HoTro, new { @class = "form-control" })
                                    </div>
                                    <div hidden class="col-md-6">
                                        <strong>Mã khách hàng :</strong>
                                        <input class="form-control" data-val="true" data-val-number="The field MaKH must be a number." data-val-required="The MaKH field is required." id="MaKH" name="MaKH" type="text" value="@(Model != null ? Model.MaKH : 0)">
                                    </div>
                                    <div hidden class="col-md-6">
                                        <strong> Tình trạng :</strong>
                                        @Html.CheckBoxFor(model => model.Archive, new { @class = " form-control" })
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Địa chỉ :</strong>@Html.ValidationMessageFor(model => model.DiaChi, String.Empty, new { @style = "color:red;font-size:14px;!important" })
                                        @Html.TextAreaFor(model => model.DiaChi, new { @class = " form-control", style = "max-width:700px; resize:none;", rows = "3" })
                                    </div>
                                    <div class="col-md-offset-6">
                                        <strong>Ghi chú :</strong>@Html.ValidationMessageFor(model => model.Note, String.Empty, new { @style = "color:red;font-size:14px;!important" })
                                        @Html.TextAreaFor(model => model.Note, new { @class = " form-control", style = "max-width:700px; resize:none;", rows = "3" })
                                    </div>


                                </ul>
                            </div>

                            <div class="tab-pane" id="tab2" style="font-size: 20px;line-height:50px">

                                <ul>
                                    @Html.HiddenFor(model => model.MaGoi)
                                    <div class="col-md-6">
                                        <strong>Gói sử dụng : </strong>@*@Html.ValidationMessageFor(model => model.MaGoi, String.Empty, new { @style = "color:red;font-size:14px;!important" })
                                        @Html.DropDownListFor(model => model.MaGoi, new SelectList(ViewBag.listgoi),new { @class = "form-control" })*@
                                        <select class="form-control" style="width:inherit;" id="select">
                                            @foreach (var goi in ViewBag.listgoi)
                                            {
                                                <option value="@goi.MaGoi">@goi.LoaiGoi</option>
                                            }
                                        </select>

                                    </div>
                                    <div class="col-md-offset-6">
                                        <strong>Ngày bắt đầu :</strong>
                                        <div id="" class="input-group date picker" data-date-autoclose="true" style="width:284px">
                                            @Html.TextBoxFor(model => model.NgayDangKy, "{0:dd-MM-yyyy}", new { @class = "form-control", @type = "text", @style = "float:left" })
                                            <span class="input-group-addon" style="">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        
                                       
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Giá gói sử dụng :</strong>
                                        @Html.TextBoxFor(model => model.GiaGoi, new { @class = "form-control", @value = "{{GiaTien}}" })
                                        @*<input id="giatien" type="text" class="form-control" value="{{GiaTien}}">*@
                                    </div>
                                    <div class="col-md-offset-6">
                                        <strong>Ngày hết hạn :</strong>
                                        <div id="" class="input-group date picker" data-date-autoclose="true" style="width:284px">
                                            @Html.TextBoxFor(model => model.NgayHetHan, "{0:dd-MM-yyyy}", new { @class = "form-control", @type = "text", @style = "float:left" })
                                            <span class="input-group-addon" style="">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        </div>
                                    <div class="col-md-6" style="margin-bottom: 20px;">
                                        <strong>Mã thông tin ( phụ ) : </strong>@Html.ValidationMessageFor(model => model.Viewid, String.Empty, new { @style = "color:red;font-size:14px;!important" })
                                        @Html.TextBoxFor(model => model.Viewid, new { @class = "form-control" })
                                    </div>
                                    @if (ViewBag.makh > 0)
                                    {
                                    <div class="col-md-offset-6">
                                        <strong>Số ngày còn lại :</strong>
                                        <input class="form-control" disabled value="{{kqsongayconlai}}" />
                                    </div>
                                    }
                                </ul>
                            </div>
                            @if (ViewBag.makh > 0)
                            { 
                                <div class="tab-pane" id="tab3" style="font-size: 20px;">

                                <div class="widget-content padded">
                                    Tổng số tiền đã thanh toán: {{tongtiengd}}
                                    <div><br /></div>
                                    <div class="form-group">
                                        <div class="input-group col-md-3">
                                            <input id="stringsearch" style="float:left" type="text" class="form-control" placeholder="Tìm kiếm tên người tạo">
                                            <span class="input-group-btn" style="float:left">
                                                <button class="btn btn-default" type="button" onclick="searchname()"> <i class="glyphicon glyphicon-search"></i> </button>
                                            </span>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="col-md-4" style="font-size:16px; padding-top:6px;" for="sel1">Lọc hóa đơn:</label>
                                            <select class="form-control" style="width:auto;" id="sel1">
                                                <option value="-1">Tất cả</option>
                                                <option value="1">Đã thanh toán</option>
                                                <option value="0">Chưa thanh toán</option>
                                            </select>
                                        </div>
                                        <button style="float:right" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="resethoadon">
                                            <i class="glyphicon glyphicon-plus"></i> Tạo hóa đơn
                                        </button>
                                    </div>
                                
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="sort-table" id="magd" style="font-size: 20px;">
                                                        Mã hóa đơn
                                                    </th>
                                                    <th class="sort-table" id="ten" style="font-size: 20px;">
                                                        Người tạo
                                                    </th>
                                                    <th class="sort-table" id="tao" style="font-size: 20px;">
                                                        Ngày tạo
                                                    </th>
                                                    <th class="sort-table" id="het" style="font-size: 20px;">
                                                        Ngày hết hạn
                                                    </th>
                                                    <th class="sort-table" id="tien" style="font-size: 20px;">
                                                        Số tiền trả
                                                    </th>
                                                    @*<th hidden style="font-size: 20px;">
                                                        Số ngày sắp hết hạn
                                                    </th>*@
                                                    <th style="font-size: 20px;">
                                                        Tình trạng
                                                    </th>
                                                    <th style="font-size: 20px;">
                                                        Thao tác
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="m in List10GD">
                                                    <td>
                                                        {{m.gds.MaGD}}
                                                    </td>
                                                    <td>
                                                        {{m.name}}
                                                    </td>
                                                    <td>
                                                        {{todate(m.gds.NgayGD)}}
                                                    </td>
                                                    <td class="hidden-xs">
                                                        {{todate(m.gds.NgayHetHan)}}
                                                    </td>
                                                    <td>
                                                        {{m.gds.SoTien}}
                                                    </td>
                                                    @*<td hidden><strong style="color:red">{{songayconlai(todate(m.NgayGD),todate(m.NgayHetHan))}}</strong></td>*@
                                                    <td id="{{m.gds.Paid}}">
                                                        {{message(m.gds.Paid)}}
                                                    </td>
                                                    <td><button style="margin-bottom: 0px; font-size: 13px; padding-top: 4px; padding-bottom: 4px;" class="btn btn-primary" data-toggle="modal" data-target="#chitietgdModal" ng-click="info(m.gds.MaGD)"><i class="glyphicon glyphicon-pencil"></i> Chi tiết</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    <div class="pagination" id="page">
                                    </div>
                                </div>
                            </div>
                                <div class="tab-pane" id="tab4">
                                    @Html.Partial("_gapiPartial")
                                </div>
                            }
                        </div>
                    </div>
                </div>



            </div>
        </div>
    }

</body>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery.session.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
    var loadingIcon = '<div class="sk-circle"><div class="sk-circle1 sk-child"></div><div class="sk-circle2 sk-child"></div><div class="sk-circle3 sk-child"></div><div class="sk-circle4 sk-child"></div><div class="sk-circle5 sk-child"></div><div class="sk-circle6 sk-child"></div><div class="sk-circle7 sk-child"></div><div class="sk-circle8 sk-child"></div><div class="sk-circle9 sk-child"></div><div class="sk-circle10 sk-child"></div><div class="sk-circle11 sk-child"></div><div class="sk-circle12 sk-child"></div></div>'
    $('#loadingicon').append(loadingIcon);
    var app = angular.module("IndexApp", [])
    app.controller('indexcontrol', function ($scope, $http) {
        $http.get("/Vsmartsell/GetKH/@ViewBag.makh").success(function (response) {
            var khachhang = response.khachhang[0];
            $scope.khachhang = khachhang;
            //$http.get("/Vsmartsell/GetListGiaTien").success(function (response) {
            //    for (var m in response.ListGiaTien) {
            //        if (khachhang.LoaiGoi == response.ListGiaTien[m].LoaiGoi) {
            //            $scope.GiaTien = response.ListGiaTien[m].GiaTien;
            //            break;
            //        }
            //    }
            //});
            $scope.GiaTien = Number($("#GiaGoi").val());
        });
        //set default selected for loai goi when load page by khachhang's magoi
        var cur_magoi = $('#MaGoi').val();
        $('#select option[value="'+cur_magoi+'"]').attr("selected", true);

        //info cua 1 lich su giao dich
        $scope.info = function (obj) {
            for (var i in $scope.List10GD) {
                if ($scope.List10GD[i].gds.MaGD == obj) {
                    $scope.infogd = $scope.List10GD[i];
                    if ($scope.infogd.gds.Paid == true) {
                        $("#thanhtoan").hide();
                    }
                    else { $("#thanhtoan").show(); }
                    $.session.set('magd', obj, 0);
                    break;
                }
            }
        }

        //get list nguoi dung
        $http.get("/Vsmartsell/GetListUser").success(function (response) {
            var ListUser = response.ListUser;
            $scope.ListUser = ListUser;
        });

        $http.get("/Vsmartsell/GetListGiaTien").success(function (response) {
            function changegia() {
                var magoi = $("#select").val()
                var giagoi = 0;
                var listgia = response.ListGiaTien;
                for (var m in listgia) {
                    if (magoi == listgia[m].MaGoi) {
                        giagoi = listgia[m].GiaTien;
                        $("#GiaGoi").val(giagoi);
                        $('#MaGoi').val(magoi);
                        break;
                    }
                }
            }
            $("#select").change(changegia);
        });
        //function message
        $scope.message = function (a) {
            if (a == true)
                return "Đã thanh toán";
            else {
                return "Chưa thanh toán";
            }
        };
        //set lai date
        $scope.todate = function (strdate) {
            var newdate = new Date(parseInt(strdate.substr(6)));
            var todate = ('0' + newdate.getDate()).slice(-2) + '-' + ('0' + (newdate.getMonth() + 1)).slice(-2) + '-' + newdate.getFullYear();
            return todate;
        };
        //songayconlai
        var hientai= new Date()
        var ngay = $("#NgayHetHan").val().substring(8, 10);
        var thang = $("#NgayHetHan").val().substring(5, 7);
        var nam = $("#NgayHetHan").val().substring(0, 4);
        var updatedate = thang + '/' + ngay + '/' + nam;
        var datehethan = new Date(updatedate);
        datehethan = datehethan.setDate(datehethan.getDate());
        var songayconlai = new Date(datehethan - hientai);
        songayconlai = songayconlai.getTime(songayconlai);
        var diff = parseInt(songayconlai / (24 * 60 * 60 * 1000));
        $scope.kqsongayconlai= (diff<0)?diff:(diff+1);
        //tao hoa don
        $('#cartnotice').click(function () {
            // int makh, DateTime ngaygd, DateTime ngayhethan, decimal sotien, string nguoithu, int thoihan, decimal cuocphi, decimal tiengiam, string note, bool paid
            var paid = confirm("Có chắc là muốn tạo hóa đơn chứ ?");
            if (paid == true) {
                var note = $('#ghichu').val();
                var tiengiam = $('#tiengiam').val();
                var cuocphi = $('#cuocphi').val();
                var thoihan = $('#thoihan').val();
                var nguoithu = $('#nhanvienthutien').val();
                var sotien = $('#tongtien').val();
                //date hethan
                var nam = parseInt($('#NgayHetHan').val().substring(0, 4));
                var thang = parseInt($('#NgayHetHan').val().substring(5, 7));
                var ngay = parseInt($('#NgayHetHan').val().substring(8, 10));
                var giahan = parseInt(thoihan);
                var newngay = ngay;
                var newthang = thang + giahan;
                //date thanh toan
                var nam1 = $('#ngaythanhtoan').val().substring(6, 10);
                var thang1 = $('#ngaythanhtoan').val().substring(3, 5);
                var ngay1 = $('#ngaythanhtoan').val().substring(0, 2);
                var ngaygd = thang1 + '/' + ngay1 + '/' + nam1;
                var old_ngayhethan = new Date($("#NgayHetHan").val());
                old_ngayhethan = old_ngayhethan.setMonth(old_ngayhethan.getMonth() + giahan);
                var new_ngayhethan = new Date(old_ngayhethan);
                var ngayhethan = new_ngayhethan.getFullYear() + '/' + ('0' + (new_ngayhethan.getMonth() + 1)).slice(-2) + '/' + ('0' + new_ngayhethan.getDate()).slice(-2);

                var makh = Number($('#MaKH').val())

                $.post("/vsmartsell/UpdateHistory", { makh: makh, ngaygd: ngaygd, ngayhethan: ngayhethan, sotien: sotien, nguoithu: nguoithu, thoihan: thoihan, cuocphi: cuocphi, tiengiam: tiengiam, note: note, paid: false }, function (data) {
                    page = 1; sorttype = "magd2"; search = ""; filter = -1; //reload list10gd sau khi tao hoa don
                    loadlistgd();
                });
            }
            $('#huyhoadon').trigger('click');
        })
        //thanh toán hóa đơn
        $('#thanhtoan').click(function () {
            $.post("/vsmartsell/Paid", {id: $.session.get('magd') }, function (data) {
                loadlistgd(); //update lai list10gd sau khi thanh toan hoa don
            });
            $('#huythanhtoan').trigger('click');
        });
        $('#resethoadon').click(function () {
            $http.get("/Vsmartsell/GetListUser").success(function (response) {
                var ListUser = response.ListUser;
                for (i in ListUser) {
                    if (ListUser[i].userid == $("#stringuserid").text()) {
                        $scope.fullname = ListUser[i].firstname + " " + ListUser[i].lastname;
                    }
                }
            });
            $('#ngaythanhtoan').val('')
            //$('#nhanvienthutien').val('')
            $('#thoihan').val('')
            $('#tiengiam').val('')
            $('#thanhtien').val('')
            $('#tongtien').val('')
            $('#ghichu').val('')
            $("#tiengiam").val(0);
        });

        //hien danh sach hoa don, khoi tao
        var page = 1; var sorttype = "magd2"; var search = ""; var filter = -1; //cac bien khoi tao
        if (Number($("#MaKH").val()) > 0) { //neu co makh, get danh sach hoa don cua khach hang do khi vua load page
            loadlistgd();
        }
        //function click for pagination buttons
        selectpage = function (obj) {
            page = obj;
            loadlistgd();
        }
        //function get danh sach 10 hoa don
        function loadlistgd() {
            $("#page").children().remove();
            $http.post("/vsmartsell/GetList10GD", { id: $("#MaKH").val(), page: page, sorttype: sorttype, search: search, filter: filter }).success(function (response) {
                $scope.List10GD = response.List10GD;
                var numpage = response.numpage;
                $scope.tongtiengd = response.tongtien;
                //show pagination buttons
                $('#page').append('<a class="btn btn-default-outline" id="first" onclick="selectpage(1)" value="1" > << </a>');
                $('#page').append('<a class="btn btn-default-outline" id="prev" onclick="selectpage(' + (page - 1) + ')" > < </a> ');
                if (page == 1) { $("#prev").attr('disabled', true); }
                for (var i = 1; i <= numpage; i++) {
                    var buttonpage = '<a class="btn btn-default-outline" onclick="selectpage(' + i + ')" value="' + i + '" id="pagebutton" >' + i + '</a>';
                    $('#page').append(buttonpage);
                }
                $('#page').append(' <a class="btn btn-default-outline" id="next" onclick="selectpage(' + (page + 1) + ')" > > </a>');
                if (page == numpage) { $("#next").attr('disabled', true); }
                $('#page').append('<a class="btn btn-default-outline" id="last" onclick="selectpage(' + numpage + ')" value="' + numpage + '" > >> </a>');
                $('#page').children("[value=" + page + "]").attr('disabled', true);
            });
        }
        //function sort
        $('.sort-table').click(function () {
            if ($('.sorttable_asc').length > 0) {
                if ($(this).children('.sorttable_asc').length > 0) {
                    $('.sorttable_asc').remove();
                    $(this).append('<span class="sorttable_desc" id="2">▴</span>');
                    sorttype = $(this).attr('id') + $(this).children('.sorttable_desc').attr('id');
                }
                else {
                    $('.sorttable_asc').remove();
                    $(this).append('<span class="sorttable_asc" id="1">▾</span>');
                    sorttype = $(this).attr('id') + $(this).children('.sorttable_asc').attr('id');
                }
            }
            else {
                $('.sorttable_desc').remove();
                $(this).append('<span class="sorttable_asc" id="1">▾</span>');
                sorttype = $(this).attr('id') + $(this).children('.sorttable_asc').attr('id');
            }
            loadlistgd();
        });
        //function search ten nguoi tao hoa don
        searchname = function () {
            search = $('#stringsearch').val();
            loadlistgd();
        }
        //function filter tinh trang hoa don
        $('#sel1').change(filterpaid);
        function filterpaid() {
            page = 1;
            filter = Number($('#sel1').val());
            loadlistgd();
        }
    });
    //thiết lập lại
    $('#thietlaplai').click(function () {
        $('.form-control').val('');
        $(".field-validation-error").text('')
    })
    //thong bao save thanh cong
    if ($("#message").text() != "") {
        $('#message').removeAttr('hidden');
        setTimeout(function () {
            $('#message').fadeOut();
        }, 4000);
    }
    //pickdate
    $('.datepicker').datepicker({
        keyboardNavigation: false,
        forceParse: false,
        autoclose: true,
        format: 'dd/mm/yyyy',
    });
    //focusout
    $('#thoihan').focusout(function () {
        var thanhtien = Number($('#thoihan').val()) * Number($('#cuocphi').val());
        $('#thanhtien').val(thanhtien);
        var tongtien = thanhtien - Number($('#tiengiam').val());
        $('#tongtien').val(tongtien);
    })
    $('#cuocphi').focusout(function () {
        var thanhtien = Number($('#thoihan').val()) * Number($('#cuocphi').val());
        $('#thanhtien').val(thanhtien);
        var tongtien = thanhtien - Number($('#tiengiam').val());
        $('#tongtien').val(tongtien);
    })
    //tong tien
    $('#tiengiam').focusout(function () {
        var tongtien = Number($('#thoihan').val()) * Number($('#cuocphi').val()) - Number($('#tiengiam').val());
        $('#tongtien').val(tongtien);
    })
    //reset hoa don
    //$('#resethoadon').click(function () {
    //    $http.get("/Vsmartsell/GetListUser").success(function (response) {
    //        var ListUser = response.ListUser;
    //        for (i in ListUser) {
    //            if (ListUser[i].userid == $("#stringuserid").text()) {
    //                $scope.fullname = ListUser[i].firstname + " " + ListUser[i].lastname;
    //            }
    //        }
    //    });
    //    $('#ngaythanhtoan').val('')
    //    //$('#nhanvienthutien').val('')
    //    $('#thoihan').val('')
    //    $('#tiengiam').val('')
    //    $('#thanhtien').val('')
    //    $('#tongtien').val('')
    //    $('#ghichu').val('')
    //    $("#tiengiam").val(0);
        //})

        $('.picker').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            format: 'dd-mm-yyyy',
        });
       
</script>
}