
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.gaviewid = "106032405";
}

<style>
    .btn[disabled] {
        color: white;
        background: #808080;
    }
    #next.btn[disabled] {
        opacity: 0.3;
        color: #808080;
        background: #fff;
    }
    #last.btn[disabled] {
        opacity: 0.3;
        color: #808080;
        background: #fff;
    }
    #previous.btn[disabled] {
        opacity: 0.3;
        color: #808080;
        background: #fff;
    }
    #first.btn[disabled] {
        opacity: 0.3;
        color: #808080;
        background: #fff;
    }
</style>
<head>
    <link href="~/Script/dao.css" rel="stylesheet" />
    <link href="~/Scripts/style.css" rel="stylesheet" />    
    <link href="~/Scripts/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/datatables.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
</head>
<div class="row">
<div class="col-md-offset-10" style="float:right" >
    <a class="btn btn-primary" style="margin-bottom: 20px;" href="/vsmartsell/create"><i class="fa fa-user"></i>Thêm mới khách hàng</a>
</div>
</div>

<body class="page-header-fixed bg-1" ng-app="IndexApp" >
    <div class="container-fluid main-content" ng-controller="indexcontrol">
        <div class="page-title">

        </div>
        <!-- DataTables Example -->
        <div class="row">
            <div class="col-md-12 col-md-12">
                <div class="widget-container fluid-height clearfix">


                    <div class="widget-content padded clearfix">
                        <div id="dataTable1_length" class="dataTables_length"><h2>Thông tin danh sách khách hàng</h2></div>

                        <div class="dataTables_filter" id="dataTable1_filter">
                            <div class="navbar-form form-inline col-md-2 hidden-xs" style="float:right">
                                <input id="timkiem" class="form-control"  placeholder="Tìm kiếm tên khách hàng" type="text">
                                <button style="font-size: x-small;" id="buttontimkiem" class="btn btn-default-outline" ng-click="timkiem()"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                          
                        </div>
                        <table class="table table-striped" id="dataTable1">
                            <thead>
                                <tr>

                                    <th width="15%">
                                            Tên khách hàng
                                            <span id="up1"><button  class="btn btn-xs btn-default-outline"><span style="margin-left:7px" class="fa fa-angle-up"></span></button></span>
                                            <span id="down1" hidden><button  class="btn btn-xs btn-default-outline"><span style="margin-left:7px" class="fa fa-angle-down"></span></button></span>
                                        
                                    </th>
                                    <th >
                                        Số điện thoại
                                    </th>
                                    <th hidden>
                                        Email
                                    </th>
                                    <th>
                                        Loại khách hàng
                                            <span id="up2"><button  class="btn btn-xs btn-default-outline"><span style="margin-left:7px" class="fa fa-angle-up"></span></button></span>
                                            <span id="down2" hidden><button  class="btn btn-xs btn-default-outline"><span style="margin-left:7px" class="fa fa-angle-down"></span></button></span>
                                    </th>
                                    <th>
                                        Loại cước
                                      
                                            <span id="up3"><button class="btn btn-xs btn-default-outline"><span style="margin-left:7px" class="fa fa-angle-up"></span></button></span>
                                            <span id="down3" hidden><button class="btn btn-xs btn-default-outline"><span style="margin-left:7px" class="fa fa-angle-down"></span></button></span>
                                       

                                    </th>
                                    <th>
                                        Ngày đăng kí
                                        
                                            <span id="up4"><button  class="btn btn-xs btn-default-outline"><span style="margin-left:7px" class="fa fa-angle-up"></span></button></span>
                                            <span id="down4" hidden><button  class="btn btn-xs btn-default-outline"><span style="margin-left:7px" class="fa fa-angle-down"></span></button></span>
                                        
                                    </th>
                                    <th>
                                        Ngày hết hạn
                                            <span id="up5"><button class="btn btn-xs btn-default-outline"><span style="margin-left:7px" class="fa fa-angle-up"></span></button></span>
                                            <span id="down5" hidden><button  class="btn btn-xs btn-default-outline"><span style="margin-left:7px" class="fa fa-angle-down"></span></button></span>
                                        
                                    </th>
                                    <th>
                                       Tên cửa hàng
                                            <span id="up6"><button  class="btn btn-xs btn-default-outline"><span style="margin-left:7px" class="fa fa-angle-up"></span></button></span>
                                            <span id="down6" hidden><button  class="btn btn-xs btn-default-outline"><span style="margin-left:7px" class="fa fa-angle-down"></span></button></span>
                                       
                                    </th>
                                    <th>
                                        Người hỗ trợ
                                    </th>
                                    <th>
                                        Thao tác
                                    </th>
                                </tr>
                            </thead>

                            <tbody id="body">


                                <tr hidden ng-repeat="m in List10KH">


                                    <td hidden id="{{ m.MaKH }}"></td>
                                    <td>
                                        <a href="/vsmartsell/details/{{m.MaKH}}" style="word-wrap:break-word">{{m.TenKH}}</a>
                                    </td>
                                    <td>
                                        {{m.Phone}}
                                    </td>
                                    <td hidden>
                                        {{m.Email}}
                                    </td>
                                    <td>
                                        {{m.LoaiKH}}
                                    </td>
                                    <td>
                                        {{m.LoaiGoi}}
                                    </td>
                                    <td>
                                        {{todate(m.NgayDangKy)}}
                                    </td>
                                    <td>
                                        {{todate(m.NgayHetHan)}}
                                    </td>
                                    <td>
                                        {{m.TenCH}}
                                    </td>
                                    <td>
                                        {{m.HoTro}}
                                    </td>
                                    <td style="width:130px;">
                                        <a class="btn btn-xs btn-primary" href="/vsmartsell/details/{{m.MaKH}}">
                                            <i class="glyphicon glyphicon-pencil">
                                            </i> sửa
                                        </a>
                                        <button class="btn btn-xs btn-danger">
                                            <p hidden value="{{m.MaKH}}"></p>
                                            <i class="glyphicon glyphicon-trash">
                                            </i> xóa
                                        </button>
                                    </td>
                                </tr>

                                <table><div id="loadingicon"></div></table>


                            </tbody>

                        </table>
                        </div>
                        @*them phan page chia tren sever*@
                        <div>
                            <div class="pagination">
                                @*<a class="btn btn-default-outline {{activePage== 1?'disabled':''}}" id="first" ng-click="firstpage()" ng-class="DisabledFirstPage">
                                    <div><<</div>
                                </a>
                                <a class="btn btn-default-outline {{activePage== 1?'disabled':''}}" id="previous" ng-click="previouspage()" ng-class="DisabledPreviousPage">
                                    <div><</div>
                                </a>*@
                                    <span id="page">
                                        @*@for (var i = 1; i <= ViewBag.numpage; i++)
                                        {
                                            <a class="btn btn-default-outline {{activePage==@(i)?'disabled':''}}" ng-click="selectpage(@i)" value="@i" id="@i">@i</a>
                                        }*@
                                    </span>
                                    @*<a class="btn btn-default-outline {{activePage==@(ViewBag.numpage)?'disabled':''}}" id="next" ng-click="nextpage()" ng-class="DisabledNextPage">
                                        <div>></div>
                                    </a>
                                    <a class="btn btn-default-outline {{activePage==@(ViewBag.numpage)?'disabled':''}}" id="last" ng-click="lastpage(@ViewBag.numpage)" ng-class="DisabledLastPage">
                                        <div>>></div>
                                    </a>*@

                            </div>
                        </div>
                    
                    </div>
                    
                </div>

            </div>
        </div>
        <!-- end DataTables Example -->
    </div>
</body>
<div class="col-md-12" style="padding: 0 0 0 0;">
    @Html.Partial("_gapiPartial")
</div>
@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery.session.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

    });
    $('#timkiem').val($.session.get("timkiem"));
    var app = angular.module("IndexApp", [])
    app.filter('offset', function () {
        return function (input, start) {
            start = parseInt(start, 10);
            return input.slice(start);
        };
    });
    $('tr').removeAttr('hidden');
    app.controller('indexcontrol', function ($scope, $http) {


        @*$scope.itemsPerPage = 10;
        $scope.currentPage = 0;
        $scope.items = [];

        for (var i = 0; i < 50; i++) {
            $scope.items.push({
                id: i, name: "name " + i, description: "description " + i
            });
        }

        $scope.prevPage = function () {
            if ($scope.currentPage > 0) {
                $scope.currentPage--;
            }
        };

        $scope.prevPageDisabled = function () {
            return $scope.currentPage === 0 ? "disabled" : "";
        };

        $scope.pageCount = function () {
            return Math.ceil($scope.items.length / $scope.itemsPerPage) - 1;
        };

        $scope.nextPage = function () {
            if ($scope.currentPage < $scope.pageCount() - 1) {
                $scope.currentPage++;
            }
        };

        $scope.nextPageDisabled = function () {
            return $scope.currentPage === $scope.pageCount() - 1 ? "disabled" : "";
        };

        $scope.lastPage = function () {
            $scope.currentPage = parseInt(@ViewBag.numpage) - 1;
        };

        $scope.lastPageDisabled = function () {
            return $scope.currentPage === parseInt(@ViewBag.numpage)-1 ? "disabled" : "";
        };

        $scope.firstPage = function () {
            $scope.currentPage = 0;
        };

        $scope.numPage = function (i) {
            $scope.currentPage = i-1;
        };

        $scope.numPageDisabled = function (i) {
            return $scope.currentPage === i-1 ? "disabled" : "";
        };
        $scope.firstPageDisabled = function () {
            return $scope.currentPage === 0 ? "disabled" : "";
        };*@
        var loadingIcon = '<div class="sk-circle"><div class="sk-circle1 sk-child"></div><div class="sk-circle2 sk-child"></div><div class="sk-circle3 sk-child"></div><div class="sk-circle4 sk-child"></div><div class="sk-circle5 sk-child"></div><div class="sk-circle6 sk-child"></div><div class="sk-circle7 sk-child"></div><div class="sk-circle8 sk-child"></div><div class="sk-circle9 sk-child"></div><div class="sk-circle10 sk-child"></div><div class="sk-circle11 sk-child"></div><div class="sk-circle12 sk-child"></div></div>'
        $('#loadingicon').append(loadingIcon);

        $http.get("/vsmartsell/GetListKH").success(function (response) {
            var tam = response.ListKH.length;

            $scope.pageChangeHandler = function (num) {
                console.log('meals page changed to ' + num);
            };



            function OtherController($scope) {
                $scope.pageChangeHandler = function (num) {
                    console.log('going to page ' + num);
                };
            }
            var listKH = response.ListKH;
            $scope.ListKH = listKH;
            $('.sk-circle').remove();
        });

        $scope.todate = function (strdate) {
            var newdate = new Date(parseInt(strdate.substr(6)));
            var todate = ('0' + newdate.getDate()).slice(-2) + '-' + ('0' + (newdate.getMonth() + 1)).slice(-2) + '-' + newdate.getFullYear();
            return todate;
        };

        $('body').on('click', '.btn-danger', function () {
            var strconfirm = confirm("Are you sure you want to delete?");
            if (strconfirm == true) {
                var tam = parseInt($(this).find('p').attr('value'));
                $.post("/vsmartsell/EditArchive", { id: tam }, function (data) {
                    if (data)
                    { location.reload() }
                });
            }
        })      
        if ($.session.get('nowpage') == null) {
            //load page tra tu dong ve page 1
            $http.post("/vsmartsell/GetList10KH", { id: 1 }).success(function (response) {
                $.session.set('nowpage', 1);
                $scope.activePage = 1;
                $scope.List10KH = response.List10KH;
                $('#page').find('a').remove();
                var buttonpageprevious = '<a class="btn btn-default-outline" id="first" onclick="firstpage()"><div><<</div></a>'
                $('#page').append(buttonpageprevious);
                var buttonpagefirst = '<a class="btn btn-default-outline" id="previous" onclick="previouspage(1)"><div><</div></a>'
                $('#page').append(buttonpagefirst);
                //append so page
                for (var i = 1; i <= response.numpage; i++) {
                    debugger
                    if (i == 1) {
                        var buttonpage = '  <a  class="btn btn-default-outline" onclick="selectpage1(' + i + ')" value="' + i + '" id="' + i + '" disabled>' + i + '</a>'
                    }
                    else {
                        var buttonpage = '  <a class="btn btn-default-outline" onclick="selectpage1(' + i + ')" value="' + i + '" id="' + i + '" >' + i + '</a>'
                    }
                    $('#page').append(buttonpage);
                }
                var buttonpagenext = '<a class="btn btn-default-outline" id="next" onclick="nextpage()" ><div>></div></a>'
                $('#page').append(buttonpagenext);
                var buttonpagelast = '<a class="btn btn-default-outline" id="last" onclick="lastpage(' + response.numpage + ')"><div>>></div></a>'
                $('#page').append(buttonpagelast);
                $('#previous').attr('disabled', 'disabled');
                $('#first').attr('disabled', 'disabled');
                $('#1').attr('disabled', 'disabled');
            });
        } else {
            //load page khi back về
            debugger
            $http.post("/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: $.session.get("sorttype"), search: $.session.get("timkiem") }).success(function (response) {
                debugger
                $scope.List10KH = response.List10KH;
                $scope.activePage = 1;
                $('#page').find('a').remove();
                var buttonpageprevious = '<a class="btn btn-default-outline" id="first" onclick="firstpage()"><div><<</div></a>'
                $('#page').append(buttonpageprevious);
                var buttonpagefirst = '<a class="btn btn-default-outline" id="previous" onclick="previouspage(1)"><div><</div></a>'
                $('#page').append(buttonpagefirst);
                //append so page
                for (var i = 1; i <= response.numpage; i++) {
                    if (i == 1) {
                        var buttonpage = '  <a  class="btn btn-default-outline" onclick="selectpage1(' + i + ')" value="' + i + '" id="' + i + '" disabled>' + i + '</a>'
                    }
                    else {
                        var buttonpage = '  <a class="btn btn-default-outline" onclick="selectpage1(' + i + ')" value="' + i + '" id="' + i + '" >' + i + '</a>'
                    }
                    $('#page').append(buttonpage);
                }
                var buttonpagenext = '<a class="btn btn-default-outline" id="next" onclick="nextpage()" ng-class="DisabledNextPage"><div>></div></a>'
                $('#page').append(buttonpagenext);
                var buttonpagelast = '<a class="btn btn-default-outline" id="last" onclick="lastpage(' + response.numpage + ')" ng-class="DisabledLastPage"><div>>></div></a>'
                $('.btn').removeAttr('disabled');
                $('#page').append(buttonpagelast);
                $('#' + Number($.session.get('nowpage')) + '').attr('disabled', 'disabled');
                if (response.numpage == 1) {
                    $('#previous').attr('disabled', 'disabled');
                    $('#first').attr('disabled', 'disabled');
                    $('#next').attr('disabled', 'disabled');
                    $('#last').attr('disabled', 'disabled');
                    $('#' + response.numpage + '').attr('disabled', 'disabled');
                }
                if ($.session.get('nowpage') == response.numpage) {
                    $('#next').attr('disabled', 'disabled');
                    $('#last').attr('disabled', 'disabled');
                    $('#' + response.numpage + '').attr('disabled', 'disabled');
                }
                if ($.session.get('nowpage') == 1) {
                    $('#previous').attr('disabled', 'disabled');
                    $('#first').attr('disabled', 'disabled');
                    $('#1').attr('disabled', 'disabled');
                }
            });
        }
        // number page
        selectpage1 = function (i) {
            debugger

            $http.post("/vsmartsell/GetList10KH", { id: i, sorttype: $.session.get("sorttype"), search: $.session.get("timkiem") }).success(function (response) {
                debugger
                $.session.set('nowpage', i, 0);
                $scope.activePage = i;
                $scope.List10KH = response.List10KH;
                $('.btn').removeAttr('disabled');
                $('span').find('#' + $.session.get('nowpage') + '').attr('disabled', 'disabled');
                if ($.session.get('nowpage') == 1) {
                    $('#first').attr('disabled', 'disabled');
                    $('#previous').attr('disabled', 'disabled');
                }
                if ($.session.get('nowpage') == response.numpage) {
                    $('#next').attr('disabled', 'disabled');
                    $('#last').attr('disabled', 'disabled');
                }
            });
        }
        //next page
        nextpage = function (i) {
            $http.post("/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')) + 1, sorttype: $.session.get("sorttype"), search: $.session.get("timkiem") }).success(function (response) {
                debugger
                $.session.set('nowpage', parseInt($.session.get('nowpage')) + 1, 0);
                $scope.List10KH = response.List10KH;
                $scope.activePage = parseInt($.session.get('nowpage'));
                $('.btn').removeAttr('disabled');
                $('#' + $.session.get('nowpage') + '').attr('disabled', 'disabled');
                $('#next').removeAttr('disabled');
                if ($.session.get('nowpage') == response.numpage) {
                    $('#next').attr('disabled', 'disabled');
                    $('#last').attr('disabled', 'disabled');
                    $('#' + response.numpage + '').attr('disabled', 'disabled');
                }
            });
        }
        //previous page
        previouspage = function (i) {
            $http.post("/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')) - 1, sorttype: $.session.get("sorttype"), search: $.session.get("timkiem") }).success(function (response) {
                debugger
                $.session.set('nowpage', parseInt($.session.get('nowpage')) - 1, 0);
                $scope.List10KH = response.List10KH;
                $scope.activePage = parseInt($.session.get('nowpage'));
                $('.btn').removeAttr('disabled');
                $('span').find('#' + $.session.get('nowpage') + '').attr('disabled', 'disabled');
                $('#previous').removeAttr('disabled');
                if ($.session.get('nowpage') == 1) {
                    $('#previous').attr('disabled', 'disabled');
                    $('#first').attr('disabled', 'disabled');
                    $('#1').attr('disabled', 'disabled');
                }
            });
        }
        //last page
        lastpage = function (i) {
            $http.post("/vsmartsell/GetList10KH", { id: i, sorttype: $.session.get("sorttype"), search: $.session.get("timkiem") }).success(function (response) {
                debugger
                $.session.set('nowpage', i, 0);
                $scope.List10KH = response.List10KH;
                $scope.activePage = parseInt($.session.get('nowpage'));
                $('.btn').removeAttr('disabled');
                $('#next').attr('disabled', 'disabled');
                $('#last').attr('disabled', 'disabled');
                $('span').find('#'+$.session.get('nowpage')+'').attr('disabled', 'disabled');
               
            });
        }
        //first page
        firstpage = function (i) {
            $http.post("/vsmartsell/GetList10KH", { id: 1, sorttype: $.session.get("sorttype"), search: $.session.get("timkiem") }).success(function (response) {
                debugger
                $.session.set('nowpage', 1, 0);
                $scope.List10KH = response.List10KH;
                $scope.activePage = parseInt($.session.get('nowpage'));
                $('.btn').removeAttr('disabled');
                $('#first').attr('disabled', 'disabled');
                $('#previous').attr('disabled', 'disabled');
                $('#1').attr('disabled', 'disabled');
            });
        }
        //tim kiem
        $scope.timkiem = function () {
            $.session.set('nowpage', 1, 0);
            $.session.set("timkiem", $('#timkiem').val(), 0);
            $http.post("/vsmartsell/GetList10KH", { id: 1, sorttype: "kh1", search: $.session.get("timkiem") }).success(function (response) {
                debugger
                $scope.List10KH = response.List10KH;
                //alert(response.List10KH)
                //alert(response.numpage)
                $('#buttontimkiem').removeAttr('disabled');
                $('#page').find('a').remove();
                var buttonpageprevious = '<a class="btn btn-default-outline" id="first" onclick="firstpage()"><div><<</div></a>'
                $('#page').append(buttonpageprevious);
                var buttonpagefirst = '<a class="btn btn-default-outline" id="previous" onclick="previouspage(1)"><div><</div></a>'
                $('#page').append(buttonpagefirst);
                for (var i = 1; i <= response.numpage; i++) {
                    if (i == 1) {
                        var buttonpage = '  <a  class="btn btn-default-outline" onclick="selectpage1(' + i + ')" value="' + i + '" id="' + i + '" disabled>' + i + '</a>'
                    }
                    else {
                        var buttonpage = '  <a class="btn btn-default-outline" onclick="selectpage1(' + i + ')" value="' + i + '" id="' + i + '" >' + i + '</a>'
                    }
                    $('#page').append(buttonpage);
                }
                var buttonpagenext = '<a class="btn btn-default-outline" id="next" onclick="nextpage()"><div>></div></a>'
                $('#page').append(buttonpagenext);
                var buttonpagelast = '<a class="btn btn-default-outline" id="last" onclick="lastpage(' + response.numpage + ')"><div>>></div></a>'
                $('#page').append(buttonpagelast);
                if (response.numpage == 1) {
                    $('#previous').attr('disabled', 'disabled');
                    $('#first').attr('disabled', 'disabled');
                    $('#next').attr('disabled', 'disabled');
                    $('#last').attr('disabled', 'disabled');
                    $('#' + response.numpage + '').attr('disabled', 'disabled');
                }
                else {
                    $('#previous').attr('disabled', 'disabled');
                    $('#first').attr('disabled', 'disabled');
                    $('#1').attr('disabled', 'disabled');
                }
            });
        }
        ////server trả về đúng page yêu cầu theo id
        //$scope.selectpage = function (i) {
        //    $http.post("/vsmartsell/GetList10KH", { id: i, sorttype: $.session.get("sorttype"), search: $.session.get("timkiem") }).success(function (response) {
        //        $.session.set('nowpage', i, 0);
        //        $scope.activePage = i;
        //        $scope.List10KH = response.List10KH;
        //    });
        //};
        ////previous page
        //$scope.previouspage = function () {
        //    $http.post("/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')) - 1, sorttype: $.session.get("sorttype"), search: $.session.get("timkiem") }).success(function (response) {
        //        $.session.set('nowpage', parseInt($.session.get('nowpage')) - 1, 0);
        //        $scope.List10KH = response.List10KH;
        //        $scope.activePage = parseInt($.session.get('nowpage'));
        //    });
        //};
        ////next page
        //$scope.nextpage = function () {
        //    debugger
        //    $http.post("/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')) + 1, sorttype: $.session.get("sorttype"), search: $.session.get("timkiem") }).success(function (response) {
        //        $.session.set('nowpage', parseInt($.session.get('nowpage')) + 1, 0);
        //        $scope.List10KH = response.List10KH;
        //        $scope.activePage = parseInt($.session.get('nowpage'));
        //    });
        //};
        ////first page
        //$scope.firstpage = function () {
        //    $http.post("/vsmartsell/GetList10KH", { id: 1, sorttype: $.session.get("sorttype"), search: $.session.get("timkiem") }).success(function (response) {
        //        $.session.set('nowpage', 1, 0);
        //        $scope.List10KH = response.List10KH;
        //        $scope.activePage = parseInt($.session.get('nowpage'));
        //    });
        //};
        ////lastpage
        //$scope.lastpage = function (i) {
        //    $http.post("/vsmartsell/GetList10KH", { id: i, sorttype: $.session.get("sorttype"), search: $.session.get("timkiem") }).success(function (response) {
        //        $.session.set('nowpage', i, 0);
        //        $scope.List10KH = response.List10KH;
        //        $scope.activePage = parseInt($.session.get('nowpage'));
        //    });
        //};
        //sort by name
        $('#up1').click(function () {
            $('#up1').hide();
            $('#down1').removeAttr('hidden');
            $('#down1').show();
            $.session.set("sorttype", "kh1", 0);
            $http.post("/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "kh1", search: $.session.get("timkiem") }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });

        })
        //sort by name
        $('#down1').click(function () {
            $('#down1').hide();
            $('#up1').show();
            $.session.set("sorttype", "kh2", 0);
            $http.post("/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "kh2", search: $.session.get("timkiem") }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
        })
        //sort by loaihk
        $('#up2').click(function () {
            $('#up2').hide();
            $('#down2').removeAttr('hidden');
            $('#down2').show();
            $.session.set("sorttype", "loai1", 0);
            $http.post("/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "loai1", search: $.session.get("timkiem") }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
        })
        //sort by loaihk
        $('#down2').click(function () {
            $('#down2').hide();
            $('#up2').show();
            $.session.set("sorttype", "loai2", 0);
            $http.post("/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "loai2", search: $.session.get("timkiem") }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
        })
        //sort by loaigoi
        $('#up3').click(function () {
            $('#up3').hide();
            $('#down3').removeAttr('hidden');
            $('#down3').show();
            $.session.set("sorttype", "goi1", 0);
            $http.post("/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "goi1", search: $.session.get("timkiem") }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
        })
        //sort by loaigoi
        $('#down3').click(function () {
            $('#down3').hide();
            $('#up3').show();
            $.session.set("sorttype", "goi2", 0);
            $http.post("/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "goi2", search: $.session.get("timkiem") }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
        })
        //sort by ngaybatdau
        $('#up4').click(function () {
            $('#up4').hide();
            $('#down4').removeAttr('hidden');
            $('#down4').show();
            $.session.set("sorttype", "batdau1", 0);
            $http.post("/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "batdau1", search: $.session.get("timkiem") }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
        })
        //sort by ngaybatdau
        $('#down4').click(function () {
            $('#down4').hide();
            $('#up4').show();
            $.session.set("sorttype", "batdau2", 0);
            $http.post("/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "batdau2", search: $.session.get("timkiem") }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
        })
        //sort by ngayketthuc
        $('#up5').click(function () {
            $('#up5').hide();
            $('#down5').removeAttr('hidden');
            $('#down5').show();
            $.session.set("sorttype", "ketthuc1", 0);
            $http.post("/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "ketthuc1", search: $.session.get("timkiem") }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
        })
        //sort by ngayketthuc
        $('#down5').click(function () {
            $('#down5').hide();
            $('#up5').show();
            $.session.set("sorttype", "ketthuc2", 0);
            $http.post("/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "ketthuc2", search: $.session.get("timkiem") }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
        })
        //sort by tencuahang
        $('#up6').click(function () {
            $('#up6').hide();
            $('#down6').removeAttr('hidden');
            $('#down6').show();
            $.session.set("sorttype", "ch1", 0);
            $http.post("/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "ch1", search: $.session.get("timkiem") }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
        })
        //sort by tencuahang
        $('#down6').click(function () {
            $('#down6').hide();
            $('#up6').show();
            $.session.set("sorttype", "ch2", 0);
            $http.post("/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "ch2", search:$.session.get("timkiem") }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
        })
        //next page
        //nextpage = function (i) {
        //    $http.post("/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')) + 1, sorttype: $.session.get("sorttype"), search: $.session.get("timkiem") }).success(function (response) {
        //        $.session.set('nowpage', parseInt($.session.get('nowpage')) + 1, 0);
        //        $scope.List10KH = response.List10KH;
        //        $scope.activePage = parseInt($.session.get('nowpage'));
        //    });
        //}
        
    });
        
    $('.resetpageandtype').click(function () {
        $.session.set('nowpage', '1');
        $.session.set('sorttype', '');
        $.session.set('timkiem', '');
    })
</script>
}