
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .a {
    }
    .disablede
</style>
<head>
    <link href="~/Script/dao.css" rel="stylesheet" />
    <link href="~/Scripts/style.css" rel="stylesheet" />    
    <link href="~/Scripts/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/datatables.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
</head>

<div class="col-lg-offset-10">
    <a  style="margin-left:110px" class="btn btn-primary" href="http://localhost:3469/vsmartsell/create"><i class="fa fa-user"></i>Thêm mới khách hàng</a>
</div>
<body class="page-header-fixed bg-1" ng-app="IndexApp" >
    <div class="container-fluid main-content" ng-controller="indexcontrol">
        <div class="page-title">

        </div>
        <!-- DataTables Example -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="widget-container fluid-height clearfix">


                    <div class="widget-content padded clearfix">
                        <div id="dataTable1_length" class="dataTables_length"><h2>Thông tin danh sách khách hàng</h2></div>

                        <div class="dataTables_filter" id="dataTable1_filter">
                            <form class="navbar-form form-inline col-lg-2 hidden-xs" style="float:right">
                                <input class="form-control" placeholder="Tìm kiếm" type="text">
                            </form>
                        </div>
                        <table class="table table-striped" id="dataTable1">
                            <thead>
                                <tr>

                                    <th width="15%">
                                        <div class="col-lg-9" style="margin-left: -15px;">Tên khách hàng</div>
                                        <div class="col-lg-3">
                                            <div id="up1"><button style="margin-left:-60px" class="btn btn-xs btn-default"><span style="margin-left:7px" class="fa fa-angle-up"></span></button></div>
                                            <div id="down1" hidden><button style="margin-left:-60px" class="btn btn-xs btn-default"><span style="margin-left:7px" class="fa fa-angle-down"></span></button></div>
                                        </div>
                                    </th>
                                    <th width="8%">
                                        Số điện thoại
                                    </th>
                                    <th width="11%">
                                        Email
                                    </th>
                                    <th width="12%">
                                        <div class="col-lg-9" style="margin-left: -10px;">Loại khách hàng</div>
                                        <div class="col-lg-3">
                                            <div id="up2"><button style="margin-left:-35px" class="btn btn-xs btn-default"><span style="margin-left:7px" class="fa fa-angle-up"></span></button></div>
                                            <div id="down2" hidden><button style="margin-left:-35px" class="btn btn-xs btn-default"><span style="margin-left:7px" class="fa fa-angle-down"></span></button></div>
                                        </div>

                                    </th>
                                    <th width="8%">
                                        <div class="col-lg-9" style="margin-left: -15px;">Loại cước</div>
                                        <div class="col-lg-3">
                                            <div id="up3"><button style="margin-left:-20px" class="btn btn-xs btn-default"><span style="margin-left:7px" class="fa fa-angle-up"></span></button></div>
                                            <div id="down3" hidden><button style="margin-left:-20px" class="btn btn-xs btn-default"><span style="margin-left:7px" class="fa fa-angle-down"></span></button></div>
                                        </div>

                                    </th>
                                    <th width="10%">
                                        <div class="col-lg-9" style="margin-left: -15px;">Ngày đăng kí</div>
                                        <div class="col-lg-3">
                                            <div id="up4"><button style="margin-left:-20px" class="btn btn-xs btn-default"><span style="margin-left:7px" class="fa fa-angle-up"></span></button></div>
                                            <div id="down4" hidden><button style="margin-left:-20px" class="btn btn-xs btn-default"><span style="margin-left:7px" class="fa fa-angle-down"></span></button></div>
                                        </div>
                                    </th>
                                    <th width="10%">
                                        <div class="col-lg-9" style="margin-left: -15px;">Ngày hết hạn</div>
                                        <div class="col-lg-3">
                                            <div id="up5"><button style="margin-left:-20px" class="btn btn-xs btn-default"><span style="margin-left:7px" class="fa fa-angle-up"></span></button></div>
                                            <div id="down5" hidden><button style="margin-left:-20px" class="btn btn-xs btn-default"><span style="margin-left:7px" class="fa fa-angle-down"></span></button></div>
                                        </div>
                                    </th>
                                    <th width="10%">
                                        <div class="col-lg-9" style="margin-left: -15px;">Tên cửa hàng</div>
                                        <div class="col-lg-3">
                                            <div id="up6"><button style="margin-left:-20px" class="btn btn-xs btn-default"><span style="margin-left:7px" class="fa fa-angle-up"></span></button></div>
                                            <div id="down6" hidden><button style="margin-left:-20px" class="btn btn-xs btn-default"><span style="margin-left:7px" class="fa fa-angle-down"></span></button></div>
                                        </div>
                                    </th>
                                    <th width="8%">
                                        Người hỗ trợ
                                    </th>
                                    <th width="8%">
                                        Thao tác
                                    </th>
                                </tr>
                            </thead>

                            <tbody>


                                <tr hidden ng-repeat="m in List10KH">


                                    <td hidden id="{{ m.MaKH }}"></td>
                                    <td>
                                        <a href="http://localhost:3469/vsmartsell/details/{{m.MaKH}}" style="word-wrap:break-word">{{m.TenKH}}</a>
                                    </td>
                                    <td>
                                        {{m.Phone}}
                                    </td>
                                    <td>
                                        {{m.Email}}
                                    </td>
                                    <td>
                                        {{m.LoaiKH}}
                                    </td>
                                    <td>
                                        {{m.LoaiGoi}}
                                    </td>
                                    <td>
                                        {{todate(m.NgayDangKy)}}
                                    </td>
                                    <td>
                                        {{todate(m.NgayHetHan)}}
                                    </td>
                                    <td>
                                        {{m.TenCH}}
                                    </td>
                                    <td>
                                        {{m.HoTro}}
                                    </td>
                                    <td style="width:130px;">
                                        <a class="btn btn-xs btn-primary" href="http://localhost:3469/vsmartsell/details/{{m.MaKH}}">
                                            <i class="glyphicon glyphicon-pencil">
                                            </i> sửa
                                        </a>
                                        <button class="btn btn-xs btn-danger">
                                            <p hidden value="{{m.MaKH}}"></p>
                                            <i class="glyphicon glyphicon-trash">
                                            </i> xóa
                                        </button>
                                    </td>
                                </tr>

                                <table><div id="loadingicon"></div></table>


                            </tbody>

                        </table>
                        </div>
                        @*them phan page chia tren sever*@
                        <div>
                            <div class="pagination">
                                <a class="btn btn-default-outline {{activePage== 1?'disabled':''}}" id="first" ng-click="firstpage()" ng-class="DisabledFirstPage">
                                    <div><<</div>
                                </a>
                                <a class="btn btn-default-outline {{activePage== 1?'disabled':''}}" id="previous" ng-click="previouspage()" ng-class="DisabledPreviousPage">
                                    <div><</div>
                                </a>

                                @for (var i = 1; i <= ViewBag.numpage; i++)
                                    {
                                        <a class="btn btn-default-outline {{activePage==@(i)?'disabled':''}}"  ng-click="selectpage(@i)" value="@i" id="@i">@i</a>
                                    }
                                <a class="btn btn-default-outline {{activePage==@(ViewBag.numpage)?'disabled':''}}" id="next" ng-click="nextpage()" ng-class="DisabledNextPage">
                                    <div>></div>
                                </a>
                                <a class="btn btn-default-outline {{activePage==@(ViewBag.numpage)?'disabled':''}}" id="last" ng-click="lastpage(@ViewBag.numpage)" ng-class="DisabledLastPage">
                                    <div>>></div>
                                </a>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="well">
                            <h2>Thông tin sử dụng phần mềm</h2>
                            <p>
                                Tổng số lượng người dùng :
                            </p>
                            <p>
                                Số lượng người dùng mỗi ngày :
                            </p>
                            <p>
                                Số lượng người dùng > 3 ngày mỗi tuần :
                            </p>
                            <p>
                                Số lượng người dùng < 3 ngày mỗi tuần :
                            </p>
                            <p>
                                Trang được sử dụng nhiều nhất :
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- end DataTables Example -->
    </div>
</body>

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery.session.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        
    });
    
    var app = angular.module("IndexApp", [])
    app.filter('offset', function () {
        return function (input, start) {
            start = parseInt(start, 10);
            return input.slice(start);
        };
    });
    $('tr').removeAttr('hidden');
    app.controller('indexcontrol', function ($scope, $http) {
        

        $scope.itemsPerPage = 10;
        $scope.currentPage = 0;
        $scope.items = [];

        for (var i = 0; i < 50; i++) {
            $scope.items.push({
                id: i, name: "name " + i, description: "description " + i
            });
        }

        $scope.prevPage = function () {
            if ($scope.currentPage > 0) {
                $scope.currentPage--;
            }
        };

        $scope.prevPageDisabled = function () {
            return $scope.currentPage === 0 ? "disabled" : "";
        };

        $scope.pageCount = function () {
            return Math.ceil($scope.items.length / $scope.itemsPerPage) - 1;
        };

        $scope.nextPage = function () {
            if ($scope.currentPage < $scope.pageCount()-1) {
                $scope.currentPage++;
            }
        };

        $scope.nextPageDisabled = function () {
            return $scope.currentPage === $scope.pageCount()-1 ? "disabled" : "";
        };

        $scope.lastPage = function () {
            $scope.currentPage = parseInt(@ViewBag.numpage)-1;
        };

        $scope.lastPageDisabled = function () {
            return $scope.currentPage === parseInt(@ViewBag.numpage)-1 ? "disabled" : "";
        };

        $scope.firstPage = function () {
            $scope.currentPage = 0;
        };

        $scope.numPage = function (i) {
            $scope.currentPage = i-1;
        };

        $scope.numPageDisabled = function (i) {
            return $scope.currentPage === i-1 ? "disabled" : "";
        };
        $scope.firstPageDisabled = function () {
            return $scope.currentPage === 0 ? "disabled" : "";
        };
        var loadingIcon = '<div class="sk-circle"><div class="sk-circle1 sk-child"></div><div class="sk-circle2 sk-child"></div><div class="sk-circle3 sk-child"></div><div class="sk-circle4 sk-child"></div><div class="sk-circle5 sk-child"></div><div class="sk-circle6 sk-child"></div><div class="sk-circle7 sk-child"></div><div class="sk-circle8 sk-child"></div><div class="sk-circle9 sk-child"></div><div class="sk-circle10 sk-child"></div><div class="sk-circle11 sk-child"></div><div class="sk-circle12 sk-child"></div></div>'
        $('#loadingicon').append(loadingIcon);

        $http.get("/vsmartsell/GetListKH").success(function (response) {
            var tam = response.ListKH.length;

            $scope.pageChangeHandler = function (num) {
                console.log('meals page changed to ' + num);
            };

           

            function OtherController($scope) {
                $scope.pageChangeHandler = function (num) {
                    console.log('going to page ' + num);
                };
            }
            var listKH = response.ListKH;
            $scope.ListKH = listKH;
            $('.sk-circle').remove();
        });

        $scope.todate = function (strdate) {
            var newdate = new Date(parseInt(strdate.substr(6)));
            var todate = ('0' + newdate.getDate()).slice(-2) + '-' + ('0' + (newdate.getMonth() + 1)).slice(-2) + '-' + newdate.getFullYear();
            return todate;
        };

        $('body').on('click', '.btn-danger', function () {
            var strconfirm = confirm("Are you sure you want to delete?");
            if (strconfirm == true) {
                var tam = parseInt($(this).find('p').attr('value'));
                $.post("http://localhost:3469/vsmartsell/EditArchive", { id: tam }, function (data) {
                    if (data)
                    { location.reload() }
                });
            }
        })
        if ($.session.get('nowpage') == null) {
            //load page tra tu dong ve page 1
            $http.post("http://localhost:3469/vsmartsell/GetList10KH", { id: 1 }).success(function (response) {
                $.session.set('nowpage', 1);
                $scope.activePage = 1;
                $scope.List10KH = response.List10KH;
            });
        } else {
            //load page khi back về
            debugger
            $http.post("http://localhost:3469/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: $.session.get("sorttype") }).success(function (response) {
                debugger
                $scope.List10KH = response.List10KH;
            });
        }
        //server trả về đúng page yêu cầu theo id
        $scope.selectpage = function (i) {
            $http.post("http://localhost:3469/vsmartsell/GetList10KH", { id: i }).success(function (response) {
                $.session.set('nowpage', i, 0);
                $scope.activePage = i;
                $scope.List10KH = response.List10KH;
            });
        };
        //previous page
        $scope.previouspage = function () {
            $http.post("http://localhost:3469/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')) - 1 }).success(function (response) {
                $.session.set('nowpage', parseInt($.session.get('nowpage')) - 1, 0);
                $scope.List10KH = response.List10KH;
                $scope.activePage = parseInt($.session.get('nowpage'));
            });
        };
        //next page
        $scope.nextpage = function () {
            $http.post("http://localhost:3469/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')) + 1 }).success(function (response) {
                $.session.set('nowpage', parseInt($.session.get('nowpage')) + 1, 0);
                $scope.List10KH = response.List10KH;
                $scope.activePage = parseInt($.session.get('nowpage'));
            });
        };
        //first page
        $scope.firstpage = function () {
            $http.post("http://localhost:3469/vsmartsell/GetList10KH", { id: 1 }).success(function (response) {
                $.session.set('nowpage', 1, 0);
                $scope.List10KH = response.List10KH;
                $scope.activePage = parseInt($.session.get('nowpage'));
            });
        };
        //lastpage
        $scope.lastpage = function (i) {
            $http.post("http://localhost:3469/vsmartsell/GetList10KH", { id: i }).success(function (response) {
                $.session.set('nowpage', i, 0);
                $scope.List10KH = response.List10KH;
                $scope.activePage = parseInt($.session.get('nowpage'));
            });
        };
        //sort by name
        $('#up1').click(function () {
            $('#up1').hide();
            $('#down1').removeAttr('hidden');
            $('#down1').show();
            $.session.set("sorttype", "kh1", 0);
            $http.post("http://localhost:3469/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "kh1" }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
          
        })
        //sort by name
        $('#down1').click(function () {
            $('#down1').hide();
            $('#up1').show();
            $.session.set("sorttype", "kh2", 0);
            $http.post("http://localhost:3469/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "kh2" }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
        })
        //sort by loaihk
        $('#up2').click(function () {
            $('#up2').hide();
            $('#down2').removeAttr('hidden');
            $('#down2').show();
            $.session.set("sorttype", "loai1", 0);
            $http.post("http://localhost:3469/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "loai1" }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
        })
        //sort by loaihk
        $('#down2').click(function () {
            $('#down2').hide();
            $('#up2').show();
            $.session.set("sorttype", "loai2", 0);
            $http.post("http://localhost:3469/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "loai2" }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
        })
        //sort by loaigoi
        $('#up3').click(function () {
            $('#up3').hide();
            $('#down3').removeAttr('hidden');
            $('#down3').show();
            $.session.set("sorttype", "goi1", 0);
            $http.post("http://localhost:3469/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "goi1" }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
        })
        //sort by loaigoi
        $('#down3').click(function () {
            $('#down3').hide();
            $('#up3').show();
            $.session.set("sorttype", "goi2", 0);
            $http.post("http://localhost:3469/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "goi2" }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
        })
        //sort by ngaybatdau
        $('#up4').click(function () {
            $('#up4').hide();
            $('#down4').removeAttr('hidden');
            $('#down4').show();
            $.session.set("sorttype", "batdau1", 0);
            $http.post("http://localhost:3469/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "batdau1" }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
        })
        //sort by ngaybatdau
        $('#down4').click(function () {
            $('#down4').hide();
            $('#up4').show();
            $.session.set("sorttype", "batdau2", 0);
            $http.post("http://localhost:3469/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "batdau2" }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
        })
        //sort by ngayketthuc
        $('#up5').click(function () {
            $('#up5').hide();
            $('#down5').removeAttr('hidden');
            $('#down5').show();
            $.session.set("sorttype", "ketthuc1", 0);
            $http.post("http://localhost:3469/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "ketthuc1" }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
        })
        //sort by ngayketthuc
        $('#down5').click(function () {
            $('#down5').hide();
            $('#up5').show();
            $.session.set("sorttype", "ketthuc2", 0);
            $http.post("http://localhost:3469/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "ketthuc2" }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
        })
        //sort by tencuahang
        $('#up6').click(function () {
            $('#up6').hide();
            $('#down6').removeAttr('hidden');
            $('#down6').show();
            $.session.set("sorttype", "ch1", 0);
            $http.post("http://localhost:3469/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "ch1" }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
        })
        //sort by tencuahang
        $('#down6').click(function () {
            $('#down6').hide();
            $('#up6').show();
            $.session.set("sorttype", "ch2", 0);
            $http.post("http://localhost:3469/vsmartsell/GetList10KH", { id: Number($.session.get('nowpage')), sorttype: "ch2" }).success(function (response) {
                $scope.List10KH = response.List10KH;
            });
        })
    });
   
</script>
}